<!DOCTYPE html>
<html>
    <head>
        <title>Ejemplo</title>
    </head>
    <body>
        {% if categoria %}
            <h1>{{ categoria.nombre }}</h1>
                {% if companias %}
                    {% for contacto in companias %}
                        {{ contacto.compania }}
                    {% endfor %}
                    {% else %}
                        <p>No existen companias en esta categoria</p>
                {% endif %}
                {% else %}
                    <p>No existe esta categoria</p>
        {% endif %}
        <br><br>
        {% for compania in audio.compania.all %}
            Item: {{ compania.compania }}
        {% endfor %}
    </body>
</html>